{% extends "main.html" %}

{% block title %}
    Detail Table
{% endblock %}

{% block body %}
<body>
    <h1>Table: {{ table }}</h1>

    <h2>Primary Keys</h2>
    <ul>
    {% for key in primary_keys %}
        <li>{{ key }}</li>
    {% endfor %}
    </ul>
    <div class='my-div'>
        <h2>Fields</h2>
    </div>


    <form id="data-generate2">
        <td><input type="number" min="0" name="{{ table }}"></td>

        <table>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>quantity</th>
            </tr>
            {% for field in fields %}
            <tr>
                <td>{{ field.name }}</td>
                <td>{{ field.type }}</td>
            </tr>
            {% endfor %}
        </table>

        <input type="submit" value="Submit" onclick="submitForm()">

    </form>
</body>
{% endblock %}