<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        
        <!-- 공통 CSS -->
        <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">

        
        <!-- 공통 JavaScript -->
        <script src="{{ url_for('static', path='/js/script.js') }}" ></script>
        
        <!-- 추가 CSS -->
        {% block css %}{% endblock %}

        <!-- 추가 JavaScript -->
        {% block js %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>