{% extends "main.html" %}

{% block title %}
    Detail Table
{% endblock %}

{% block body %}
<body>

    <h2>Tables</h2>

    <form id="data-generate">

        <table>
            <tr>
                <th>Table Name</th>
                <th>quantity</th>
            </tr>

            {% for table in tables %}
            <tr>
                <td><a href="{{ '/tables/' + table }}">{{ table }}</a></td>
                <td><input type="number" min="0" name="{{ table }}"></td>
                
            </tr>
            {% endfor %}
        </table>

        <input type="submit" value="Submit" onclick="submitForm()">

    </form>


</body>
{% endblock %}